# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Datasets & Weights
IO-VNBD/
ai_engine/weights/
*.csv
*.pt
*.pth

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
.agents/

# Temporary / Junk files
~$*.pptx
~$*.docx
*.log
*.tmp
